{% extends "base.html" %}

{% block title %}
List of todo
{% endblock title %}

{% block content %}
<h1>todo</h1>
<div class="mb-10">
    {% for item in items %}
    <div class="mb-5">
            <div>
                <label><b>{{"todo" | capitalize }}:</b> {{item.todo}}</label>
                </div>
            <div>
                <label><b>{{"priority" | capitalize }}:</b> {{item.priority}}</label>
                </div>
            <div>
                <label><b>{{"start date" | capitalize }}:</b> {{item.start_date}}</label>
                </div>
            <div>
                <label><b>{{"end date" | capitalize }}:</b>
                    {% if item.end_date %}
                    {{item.end_date}}
                    {% else %}
                    Not yet
                    {% endif %}
                </label>
                </div>
            <a href="/todos/{{ item.id }}/edit">Edit</a>
            <a href="/todos/{{ item.id }}">View</a>
        </div>
    {% endfor %}

    <br />
    <br />
    <a href="/todos/new">New todo</a>
</div>
{% endblock content %}
